# Rust
/target
**/*.rs.bk

# Node & Frontend
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & OS
*.swp
*.iml
.idea/
.vscode/
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example
